:root {
    --dot-color: #fff;
    --active-dot-color: #676767;
}

/* Full page layout */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* Slides container */
.slides-container {
    position: relative;
    height: 100vh;
}

/* Individual slide */
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hide-slide {
    transform: translate(0, 100vh);
}

.slide-nav-dots
{
    display: flex;
    justify-content: center;
    padding: 10px;
    position: absolute;
}

.slide-nav-dots * {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--dot-color);
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    z-index: 100;
}

.active-nav-dot {
    background-color: var(--active-dot-color);
}