/* Full page layout */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* Slides container */
.slides-container {
    position: relative;
    height: 100vh;
}

/* Individual slide */
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Slide transitions */
.slide.from-bottom {
    transform: translate(0, 100vh)
}